@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "MasterPage.cshtml";
}
<!DOCTYPE HTML>

<!-- Jumbotron, w title -->
<div class="border border-primary p-2 align-self-center containerWidth border-3" style="margin-top: 10rem !important;">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" maxlength="256">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" maxlength="256">
        </div>

        <button id="loginBtn" type="button" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>

<div class="containerWidth align-self-center" id="loginAlertPlaceholder"></div>
<script src="~/scripts/loginPage.js"></script>
