@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.OurProducts>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterPage.cshtml";
}

<div class="jumbotron text-center jumbotron-fluid">
    <div class="container">
        <h1 class="display-1">Product list</h1>
    </div>
</div>

<section id="main" class="wrapper">
    <div class="container">


        <p>Our products include: </p>
        <ul>
            <li>Typewriters</li>
            <li>Keyboards</li>
            <li>Mousepads</li>
            <li>Trackpads</li>
            <li>Graphical tablets</li>
        </ul>

        
    </div>
</section>